{% extends "base.html" %}
{% block content %}
    <div class="container" id="explanation">
        <h1>User instructions</h1>
        <p>The system helps you to find information about scientific papers.</p>
        <p>Clic on Make a Search to make a search.</p>
        <p>Fill the promt field with your prompt and click on Send button.</p>
        <p>The software display a loading screen during processing the search on scientific database.</p>
        <p>Once the search done, it will automatically display the result of the search.<br>It consist of a</p>
    </div>

{% endblock content %}