{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <div class="centred_button"><button type="submit">Login</button></div>
        </form>
    </div>
{% endblock content %}
